dist: xenial
before_install:
    - wget http://apertium.projectjj.com/apt/install-nightly.sh -O - | sudo bash
    - sudo apt-get install apertium-all-dev
    - wget https://github.com/apertium/apertium-eng/archive/master.zip -O fin-master.zip
    - unzip fin-master.zip
    - pushd apertium-eng-master && ./autogen.sh && ./configure && make && sudo make install && popd
    - wget https://github.com/apertium/apertium-ibo/archive/master.zip -O ibo-master.zip
    - unzip ibo-master.zip
    - pushd apertium-ibo-master && ./autogen.sh && ./configure && make && sudo make install && popd
script:
    - ./autogen.sh
    - make
notifications:
    irc:
        channels:
            - "chat.freenode.net#apertium"
        on_failure: change
        on_success: never

